/**
 * novelWriter.io Style Sheet
 * ==========================
 */

/* General */

body {
  background-color: #999999;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #000000;
}

a:hover {
  color: #555555;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  max-width: 1200px;
  margin: 0 auto;
  color: #444444;
}

.text-box {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */

header {
  background-color: #0083be;
  background-image: linear-gradient(to bottom, #0083be, #005981);
  color: #ffffff;
}

header a {
  color: #ffffff;
}

header a:hover {
  color: #aaaaaa;
}

#top-banner {
  background-color: #005981;
  text-align: right;
  font-weight: 700;
  padding: 8px 0;
}

#header-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

#header-content h1 {
  /* border: 1px dotted white; */
  font-size: 3em;
  color: #ffffff;
  margin: 0 0 -0.2em 0;
  padding: 0;
}

#sub-title {
  /* border: 1px dotted white; */
  font-size: 1.1em;
  font-weight: 700;
  margin: 0;
}

/* Navigation */

nav {
  background-color: #444444;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

#nav-box {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

nav ul {
  list-style: none;
  display: inline;
  text-indent: 0;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  text-indent: 0;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 12px;
  border-bottom: 4px solid #444444;
}

nav ul li a:hover {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 4px solid #be5526;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Footer */

footer {
  background-color: #999999;
  color: #000000;
  text-align: center;
  padding: 20px 0;
}

/* Content */

main {
  background-color: #eeeeee;
}

#content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}
