/**
 * novelWriter.io Style Sheet
 * ==========================
 */

/* General */

body {
  background-color: #999999;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
}

a {
  color: #000000;
}

a:hover {
  color: #555555;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: #444444;
}

h1 {
  font-size: 2.5em;
  margin-top: 1em;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.2em;
}

.text-box {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Header */

header {
  background-color: #0083be;
  background-image: linear-gradient(to bottom, #0083be, #005981);
  color: #ffffff;
}

header a {
  color: #ffffff;
}

header a:hover {
  color: #aaaaaa;
}

#top-banner {
  background-color: #005981;
  text-align: right;
  font-weight: 700;
  padding: 8px 0;
}

#header-content {
  max-width: 1080px;
  padding: 20px 20px;
  margin: 0 auto;
}

#header-content h1 {
  /* border: 1px dotted white; */
  font-size: 3em;
  color: #ffffff;
  margin: 0 0 -0.2em 0;
  padding: 0;
}

#sub-title {
  /* border: 1px dotted white; */
  font-size: 1.1em;
  font-weight: 700;
  margin: 0;
}

/* Navigation */

nav {
  background-color: #444444;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.05em;
}

#nav-box {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}

nav ul {
  list-style: none;
  display: inline;
  text-indent: 0;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  text-indent: 0;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 12px;
  border-bottom: 4px solid #444444;
}

nav ul li a:hover {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 4px solid #be5526;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Footer */

footer {
  background-color: #999999;
  color: #000000;
  text-align: center;
  padding: 20px 0;
}

/* Content */

main {
  background-color: #eeeeee;
}

#content {
  max-width: 1080px;
  padding: 60px 20px;
  margin: 0 auto;
}

/* Index Box */

#intro-box {
  display: table;
  margin: 0 auto;
}

#intro-box .intro-row {
  display: table-row;
}

#intro-box .intro-text {
  display: table-cell;
  vertical-align: top;
  font-size: 1.2em;
  padding: 0 40px 0 0;
}

#intro-box .intro-text p {
  margin-top: 0.1em;
  margin-bottom: 0.7em;
}

#intro-box .intro-image {
  display: table-cell;
  vertical-align: top;
  padding: 0;
}

#intro-box .intro-image img {
  height: 300px;
}

#intro-slug {
  max-width: 1080px;
  padding: 30px 0 20px 0;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
}
