/**
 * novelWriter.io Style Sheet
 * ==========================
 */

/* General */

body {
  background-color: #999999;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
}

a {
  color: #005981;
}

a:hover {
  color: #555555;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: #444444;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 1.6em;
  margin-top: 1em;
  margin-bottom: 0.2em;
}

h3 {
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0.2em;
}

p {
  margin-top: 0;
  margin-bottom: 0.6em;
}

code {
  font-size: 0.8em;
  color: #660000;
  border: 1px dotted #660000;
  padding: 0 2px;
}

pre {
  display: block;
  font-size: 0.8em;
  background-color: rgba(0, 0, 0, 0.05);
  color: #660000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 4px;
  margin: 0 12px 0.4em 12px;
}

.text-box {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}

.flex-outer {
  display: flex;
}

.flex-child {
  flex: 1;
  /* border: 1px dotted #000000; */
}

.flex-child:first-child {
  padding-right: 20px;
}

.flex-sub {
  display: inline-block;
  vertical-align: top;
}

/* Header */

header {
  background-color: #0083be;
  background-image: linear-gradient(to bottom, #0083be, #005981);
  color: #ffffff;
}

header a {
  color: #ffffff;
}

header a:hover {
  color: #aaaaaa;
}

#top-banner {
  background-color: #005981;
  text-align: right;
  font-weight: 700;
  padding: 8px 0;
}

#header-content {
  max-width: 1080px;
  padding: 40px 20px;
  margin: 0 auto;
}

#header-content h1 {
  /* border: 1px dotted white; */
  font-size: 3em;
  color: #ffffff;
  margin: 0 0 -0.2em 0;
  padding: 0;
}

#sub-title {
  /* border: 1px dotted white; */
  font-size: 1.1em;
  font-weight: 700;
  margin: 0;
}

/* Navigation */

nav {
  background-color: #444444;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.05em;
}

#nav-box {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}

nav ul {
  list-style: none;
  display: inline;
  text-indent: 0;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  text-indent: 0;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 12px;
  border-bottom: 4px solid #444444;
}

nav ul li a:hover {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 4px solid #be5526;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Footer */

footer {
  background-color: #999999;
  color: #000000;
  text-align: center;
  padding: 20px 0;
}

/* Content */

main {
  background-color: #eeeeee;
}

/* Introduction */

#intro {
  max-width: 1080px;
  padding: 40px 20px;
  margin: 0 auto;
}

#intro-box {
  display: table;
  margin-top: 20px;
}

#intro-box .intro-row {
  display: table-row;
}

#intro-box .intro-text {
  display: table-cell;
  vertical-align: top;
  font-size: 1.2em;
  padding-right: 40px;
}

#intro-box .intro-text p {
  margin-top: 0.1em;
  margin-bottom: 0.7em;
}

#intro-box .intro-image {
  display: table-cell;
  vertical-align: top;
  padding: 0;
}

#intro-box .intro-image img {
  height: 300px;
}

#intro-slug {
  max-width: 1080px;
  padding: 30px 0;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
}

/* Download */

#download {
  background-color: #c9c9c9;
  padding: 40px 20px;
}

#download img {
  height: 100px;
  margin: 0 20px 0 0;
}

#download div {
  max-width: 1080px;
  margin: 0 auto;
}

#download table {
  margin-bottom: 1.4em;
}

#download table tr td {
  padding: 0;
}

#download table tr td:first-child {
  padding: 0 20px 0 0;
}
